:root {
  /* colors */
  --main-white: #eeeeee;
  --main-dark: #2c3e50;
  --light-dark: #3a546d;
  --main-green: #1abc9c;
}

/* 
# *******************
#      RESET        *
# *******************
*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

hr {
  width: 15%;
}

/* 
# *******************
#      SECTIONS     *
# *******************
*/

section:nth-child(odd) {
  background-color: var(--main-green);
  color: var(--main-white);
}

/* 
* Main Header
*/
.ms_navbar {
  background-color: var(--main-dark);
  height: 80px;
}

.ms_toggler {
  border: 1px solid #fff;
}

/* 
* Jumbotron
*/
#jumbotron img {
  width: 250px;
}

#jumbotron h1 {
  font-size: 2.5rem;
}

/* 
* Portfolio
*/
#portfolio .card {
  background-color: #ba4b63;
  border: none;
}

/* 
* Contact
*/
#contact form button {
  background-color: var(--main-green);
  color: var(--main-white);
}

/* 
* Footer
*/
.footer_top {
  background-color: var(--light-dark);
  color: var(--main-white);
}

.social-links-item {
  width: 50px;
  aspect-ratio: 1;
  border: 1px solid white;
  border-radius: 50%;
}

.footer_bottom {
  min-height: 80px;
  background-color: var(--main-dark);
  color: var(--main-white);
}
