:root {
  /* colors */
  --main-white: #eeeeee;
  --main-dark: #2c3e50;
  --light-dark: #3a546d;
  --main-green: #1abc9c;
}

/* 
# *******************
#      RESET        *
# *******************
*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* 
# *******************
#      SECTIONS     *
# *******************
*/

section:nth-child(odd) {
  background-color: var(--main-green);
  color: var(--main-white);
}

/* 
* Main Header
*/
#main-header {
  min-height: 80px;
  background-color: var(--main-dark);
  color: var(--main-white);
}

.full-menu ul li {
  padding: 0 5px;
}

/* 
* Portfolio
*/
#portfolio .card {
  background-color: #ba4b63;
  border: none;
}

/* 
* Footer
*/
.footer_top {
  background-color: var(--light-dark);
  color: var(--main-white);
}

.footer_bottom {
  min-height: 80px;
  background-color: var(--main-dark);
  color: var(--main-white);
}
